*/src/*/obj
*/src/*/bin
*/src/*/Bin
*/src/*/ClientBin
datasrc/*/*/obj
datasrc/*/*/bin
build
*ReSharper*
*.csproj.user
*.dwproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.svn
*.g.cs
src/*/*.xap
TestResult.xml
