<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IntegrationTests.Properties.Settings.TDDWithMVCConnectionString"
            connectionString="Data Source=HERRERA-PC\sqlexpress;Initial Catalog=TDDWithMVC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>